<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.ConsumptionReportMapper" >
<select id="selectConsumptionReport" resultType="hashmap">
    select
        ${groupTypeName} as groupType,
        count(*) as totalCount,
        sum(total_amount) as totalAmount,
        sum(discount_amount) as totalDiscountAmount,
        sum(pay_amount) as totalPayAmount
    FROM consumption
    where status != 0 GROUP BY ${groupTypeName}
</select>
    <select id="selectConsumptionReportVO" resultType="cn.wolfcode.vo.ConsumptionReportVO">
        select
            ${groupTypeName} as groupType,
            count(*) as totalCount,
            sum(c.total_amount) as totalAmount,
            sum(c.discount_amount) as totalDiscountAmount,
            sum(c.pay_amount) as totalPayAmount
        FROM consumption c join business b on c.business_id = b.id
        <where>
            c.status != 0
            <if test="businessId != null">
                and c.business_id = #{businessId}
            </if>
            <if test="beginCreateTime != null">
                and c.create_time >= #{beginCreateTime}
            </if>
            <if test="endCreateTime != null">
                and c.create_time &lt;= #{endCreateTime}
            </if>
            <choose>
                <when test="appointmentType == true">
                    and c.appointment_ano is not null
                </when>
                <when test="appointmentType == false">
                    and c.appointment_ano is null
                </when>
                <otherwise></otherwise>
            </choose>
        </where>
        GROUP BY ${groupTypeName}
    </select>
</mapper>
















