<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.mapper.MessageReplyMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.domain.MessageReply" >
    <id column="id" property="id" />
    <result column="content" property="content" />
    <result column="message_id" property="messageId" />
    <result column="reply_user_id" property="replyUserId" />
    <result column="create_time" property="createTime" />
    <result column="employee_name" property="employee.name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" >
    delete from message_reply
    where id = #{id}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into message_reply (content, message_id, reply_user_id, create_time)
    values (#{content}, #{messageId}, #{replyUserId}, #{createTime})
  </insert>
  <update id="updateByPrimaryKey" >
    update message_reply
    set content = #{content},
      message_id = #{messageId},
      reply_user_id = #{replyUserId},
      create_time = #{createTime}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select mr.id, mr.content, mr.message_id, mr.reply_user_id, create_time ,e.name as employee_name
    from message_reply mr join employee e on mr.reply_user_id = e.id
    where message_id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, content, message_id, reply_user_id, create_time
    from message_reply
  </select>
  <select id="selectForList" resultType="cn.wolfcode.domain.MessageReply">
    select id, content, message_id, reply_user_id, create_time
    from message_reply
  </select>

</mapper>